nav {
  
  backface-visibility: hidden;
  animation-name: setup;
  animation-duration: 2s;
  animation-fill-mode:forwards;
  animation-iteration-count: 1;


}

@keyframes setup {
  from {}
  to { transform: translateX(5rem) translateY(-8rem) rotateZ(-5deg) rotateY(10deg) rotateX(30deg) translateZ(0); }
}